<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <div class="container">

        <h1>HUERTO DOMOTICO\</h1>
        <h3>UNIVERSIDAD TECNOLOGICA DE CALVILLO</h3>

        <div class="container">
            <div class="lightbox-gallery">
                <div><img class="expandable" src="assets/imagesplantas/banner1.png"></div>
                <div><img class="expandable" src="assets/imagesplantas/banner2.png"></div>
                <div><img class="expandable" src="assets/imagesplantas/banner3.png"></div>
                <div><img class="expandable" src="assets/imagesplantas/banner4.png"></div>
                <div><img class="expandable" src="assets/imagesplantas/banner5.png"></div>
            </div>
        </div>



        <section class="content">

            <section class="content">
                <div class="flex-container">
                    <div class="text-container">
                        <h2>UN HUERTO DOMOTICO ES...</h2>
                        <p class="intro">Un huerto domótico hecho con sensores es un sistema de cultivo de plantas
                            que utiliza
                            tecnología de automatización y control para optimizar el crecimiento y cuidado de las
                            plantas. Los
                            sensores son dispositivos que detectan y recopilan datos sobre el entorno del huerto,
                            como la
                            temperatura, la humedad del suelo, la luz solar y otros parámetros relevantes.
                            Estos sensores se conectan a un sistema domótico que recopila y analiza los datos
                            recopilados. Con base en esta información, el sistema toma decisiones automatizadas para
                            proporcionar a las plantas las condiciones óptimas de crecimiento. Puede controlar y
                            ajustar automáticamente factores como el riego, la iluminación, la ventilación y la
                            nutrición de las plantas.

                            El huerto domótico ofrece una serie de ventajas, como el ahorro de agua y energía al
                            optimizar el riego y la iluminación según las necesidades reales de las plantas. También
                            puede mejorar la productividad y el rendimiento de las plantas al proporcionarles un
                            entorno ideal. Además, permite monitorear y controlar el huerto de manera remota a
                            través de dispositivos conectados, lo que brinda comodidad y flexibilidad al usuario.
                        </p>

                    </div>
                    <img class="estructura" src="assets/imagesplantas/estructurahuerto.png">
                </div>
            </section>
        </section>

    </div>
    <div class="video">
        <video width="560" height="315" controls>
            <source src="assets/imagesplantas/videointro.mp4" type="video/mp4">
        </video>
    </div>


    <footer>
        <!--       <p>Derechos de Autor &copy; 2023 - howimeetyourmother.com</p>
 -->
        <div class="footer-container">
            <div class="footer-content">
                <ul class="footer-links">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <p class="footer-info">2023 UNIVERSIDAD TECNOLOGICA DE CALVILLO AGS.</p>
        </div>
    </footer>


</body>


</html>